{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

<form action="" method="post">
           <!-- {{ form.csrf }} -->
 
            <div class="inputtext">
                {{ form.name.label }} {{ form.name }} 
            </div>
 
            <div class="inputsubmit">
                <input type="submit" value="Submit" />
            </div> 

        <div class="info">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </div>
        
        <table border='1'>
        <tr>
        <th>Table Name</th>
        <th> Product</th>
        </tr>
        
        {% for x in yList %}
            <tr>
            <td>{{ x[0] }}</td>
            <td>{{ x[1] }}</td>
            </tr>
        {% endfor %}
        </table>
        
        


{% endblock %}