{% extends 'layout.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

<form action="" method="post">
           {{ form.csrf }} 
 
            <div class="inputtext">
            <div class="hide">
                {{ form.name.label }} {{ form.name }} 
            </div>
            </div>

        <div class="info" style="text-align:center;">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        {{ message[1] }}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </div>
        
        <br>
        
        <div align="center" style="margin-top:-20px;">
        <div class="styled-select slate" style="text-align:center;">
        <select name="drop_down" method="GET" action="/">
            <option value="{{tables[0]}}" selected>all tables</option>
            {% for t in tables[1:] %}
                <option value="{{t}}">{{t}}</option>
            {% endfor %}
            
        </select>
        </div></div>
        
        
        <div class="submit">
            <input type="submit" value="Submit" />
        </div> 
            
        
        <div id="tableContainer-1">
        <div id="tableCountainer-2">
        <table id="myTable" border='2'>
        <tr>
        <th><div style="padding:5px;font-size:25px;">Table Name</div></th>
        <th><div style="padding:5px;font-size:25px;">Product</div></th>
        </tr>
        
        {% for x in new_list %}
            <tr>
            <td><div style="padding:5px;font-size:18px;font-family:arial;">{{ x[0] }}</div></td>
            <td><div style="padding:5px;font-size:18px;font-family:arial;">{{ x[1] }}</div></td>
            </tr>
        {% endfor %}
        </table>
        </div></div>
        
        


{% endblock %}