<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
    <title> Querying Service Hierarchy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
   
   <style>
   body {
       background-color:#F9F9F9;
       font-size:20px;
       text-align:center;
   }
   
   form {
       width:1000px;
       margin:auto;
       margin-top:50px;
   }
   
   
   
   </style>
   
   
   </head>
    <body>
    
    <div style="font-size:50px;text-align:center;padding:5px;letter-spacing:1px;">
    <b>Querying Service Hierarchy</b>
    </div>
    
    
    
    {% block content %}
    {% endblock %}
    
    </body>
</html>